body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('img.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

textarea {
    width: calc(100% - 40px);
    height: 200px;
    margin: 20px 20px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    width:100px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}
